$fon: #ffffff;
$black: #000;
$grey: #b9b9ba;
$dblue: #080425;
$blue-100: #9998a5;
$wblue: #211e3b;
$lblue: #38354f;
$orange: #fab91e;
$borange: #d39500;


//bootstrap modal цвет оверлея

$modal-backdrop-bg: #181818;
$modal-backdrop-opacity:.8;

//media

$tablet-180: 1180px;
$tablet-105: 1050px;
$tablet-bp: 991px;
$mobile-bp: 768px;
$mobile-63: 630px;
$mobile-56: 560px;
$mobile-br: 450px;
$mobile-32: 320px;