<div class="modal fade" id="popupbell" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <button class="modal__close" type="button" data-bs-dismiss="modal" aria-label="Close">
            <img src="assets/img/modal/1.svg" alt="">
        </button>


        <section class="modal__bell">
            <h1 class="modal__bell-title">Заказать звонок</h1>

           <form action="/" method="post">

            <div class="modal__bell-group">
                <span class="modal__bell-icon"></span>
                <input class="modal__bell-input" type="text" name="name" placeholder= "Имя">
            </div>

            <div class="modal__bell-group">
                <span class="modal__bell-icon"></span>
                <input class="modal__bell-input" type="email" name="email" placeholder="Ваш e-mail">
            </div>

            <div class="modal__bell-group">
                <span class="modal__bell-icon"></span>
                <input class="modal__bell-input" type="tel" name="phone" placeholder="Ваш номер телефона">
            </div>

            <div class="modal__bell-group">
             <textarea  name="text" cols="60" rows="3" id="input-pluses" class="modal__bell-control" placeholder="Сообщение"></textarea>
           </div>
           </form>
           <button type="button" class="btn">Отправить</button>
        </section>

    </div>
</div>
</div>