<header class="header">
    <div class="container">

        <header class="header__first" id="header1">

            <div class="header__first-phone">
                <a class="header__first-link" href="tel:88002000600">
                    <img class="header__first-left" src="assets/img/logo/ic_phone.webp" alt="phone">
                    телефон администратора <br> 8 800 2000 600</a>
            </div>

            <div class="header__first-logo">
                <img class="header__first-img" src="assets/img/logo/logo.webp" alt="logo">
            </div>

            <div class="header__first-adress" id="nav">
                <p class="header__first-text">
                    <img class="header__first-left" src="assets/img/logo/ic_map.webp" alt="map">
                    адрес фотостудии <br> Челябинск, Худякова, 12а
                </p>
            </div>


            <button class="burger " type="button" id="sidebarToggle">
                <span>Открыть навигацию</span>
            </button>

        </header>


        <header class="">


            <div class="header_mobile">
                <div class="header__mobile__block">
                    <div class="header-mobile__left">
                        <nav class="header-mobile__menu" id="navt">

                            <div class="header-mobile__spoller "> О компании</div>
                            <ul class="header-mobile-items " style="display: none ;">
                                <li class=" header-mobile__listing">
                                    <a class="header-mobile__links " href=""> Наша фотостудия</a>
                                </li>
                                <li class=" header-mobile__listing">
                                    <a class="header-mobile__links " href=""> Отзывы</a>
                                </li>
                                <li class=" header-mobile__listing">
                                    <a class="header-mobile__links " href=""> Частые вопросы</a>
                                </li>
                            </ul>

                            <div class="header-mobile__spoller "> Аренда залов</div>
                            <ul class="header-mobile-items " style="display: none ;">
                                <li class=" header-mobile__listing">
                                    <a class="header-mobile__links " href=""> Наша фотостудия</a>
                                </li>
                                <li class=" header-mobile__listing">
                                    <a class="header-mobile__links " href=""> Отзывы</a>
                                </li>
                                <li class=" header-mobile__listing">
                                    <a class="header-mobile__links " href=""> Частые вопросы</a>
                                </li>
                            </ul>
                            <div class="header-mobile__spoller "> Фотосессии</div>
                            <ul class="header-mobile-items " style="display: none ;">
                                <li class=" header-mobile__listing">
                                    <a class="header-mobile__links " href=""> Наша фотостудия</a>
                                </li>
                                <li class=" header-mobile__listing">
                                    <a class="header-mobile__links " href=""> Отзывы</a>
                                </li>
                                <li class=" header-mobile__listing">
                                    <a class="header-mobile__links " href=""> Частые вопросы</a>
                                </li>
                            </ul>

                            <a class="header__two-link" href="">
                                Правила
                            </a>

                            <a class="header__two-link" href="">
                                Портфолио
                            </a>

                            <div class="header__mobile-cont">

                                <a class="header__mobile-links" href="tel:88002000600">
                                    <img class="header__mobile-left" src="assets/img/logo/ic_phone.webp" alt="phone">
                                    телефон администратора <br> 8 800 2000 600</a>


                                <p class="header__mobile-text">
                                    <img class="header__mobile-left" src="assets/img/logo/ic_map.webp" alt="map">
                                    адрес фотостудии <br> Челябинск, Худякова, 12а
                                </p>
                            </div>

                        </nav>
                        <!--меню мобайл-->
                    </div>
                </div>
            </div>

        </header>

        <header class=" header__two" id="intro">
            <nav class="header__two-nav">
                <ul class="header__two-list one">
                    <li class="header__two-block">

                        <div class="header-two__spoller "> О компании</div>
                        <ul class="header-two-items " style="display: none ;">
                            <li class=" header-two__listing">
                                <a class="header-two__links " href=""> Наша фотостудия</a>
                            </li>
                            <li class=" header-two__listing">
                                <a class="header-two__links " href=""> Отзывы</a>
                            </li>
                            <li class=" header-two__listing">
                                <a class="header-two__links " href=""> Частые вопросы</a>
                            </li>
                        </ul>

                    </li>


                    <li class="header__two-block">
                        <div class="header-two__spoller "> Аренда залов</div>
                        <ul class="header-two-items " style="display: none ;">
                            <li class=" header-two__listing">
                                <a class="header-two__links " href=""> Наша фотостудия</a>
                            </li>
                            <li class=" header-two__listing">
                                <a class="header-two__links " href=""> Отзывы</a>
                            </li>
                            <li class=" header-two__listing">
                                <a class="header-two__links " href=""> Частые вопросы</a>
                            </li>
                        </ul>
                    </li>

                    <li class="header__two-block">
                        <div class="header-two__spoller "> Фотосессии</div>
                        <ul class="header-two-items " style="display: none ;">
                            <li class=" header-two__listing">
                                <a class="header-two__links " href=""> Наша фотостудия</a>
                            </li>
                            <li class=" header-two__listing">
                                <a class="header-two__links " href=""> Отзывы</a>
                            </li>
                            <li class=" header-two__listing">
                                <a class="header-two__links " href=""> Частые вопросы</a>
                            </li>
                        </ul>
                    </li>

                    <li class="header__two-block">
                        <a class="header__two-link" href="">
                            Правила
                        </a>
                    </li>

                    <li class="header__two-block">
                        <a class="header__two-link" href="">
                            Портфолио
                        </a>
                    </li>

                    <li class="header__two-block">
                        <a class="header__two-link" href="">
                            Контакты
                        </a>
                    </li>
                </ul>

            </nav>

        </header>

    </div>


</header>